%h3 Verlanglijstjes voor kerst

%table.table-striped.table.table-bordered
  - @users.each do |user|
    %tr
      %td= user.name
      %td= link_to "Bekijk lijstje", present_path(user.id), class: ['btn-primary', 'btn-xs', 'btn']

.well
  %p
    %h4 Hoe werkt het?
  %p
    Iedereen koopt in tweetallen een cadeau voor de andere personen van &euro;15.
    Daarnaast koop je ook nog voor je partner een cadeau.

  %p
    Tweetallen:
    %ul
      %li Richard en Ineke
      %li Nick en Heleen
      %li Ruben en Esther

