<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Pas account aan', edit_user_registration_path %></li>
  <li><%= link_to 'Afmelden', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Inloggen', new_user_session_path %></li>
  <li><%= link_to 'Registreren', new_user_registration_path %></li>
<% end %>
